.hero{
    background-image: url(../../Asset/Photo1.png);
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    .containers{
        margin: 2px auto;
        
        .home{
            color: white;
        align-items: center;
        justify-content: center;
        transform: translate(15%, 100%);
        }
        .homes{
            display: flex;
            background: rgba(4, 28, 55, 0.5);
            width: max-content;
            border-left: 6px solid gold;
            align-items: center;

          
        }
        button{
            background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
            border: none;
            
width: 10rem;
height: 3rem;
        }
    }

}